{% extends 'base.html' %}

{% block contenido %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <!-- No es necesario agregar ningún enlace a las hojas de estilo CSS aquí, ya que se cargan desde la página base -->
</head>
<body>
  <div >
    <h1>Lista de Productos</h1>
    <table > <!-- Aplicando la clase CSS listaprod -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Código UPC</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Especialidad</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.codigo_upc }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.marca }}</td>
                <td>{{ producto.id_especialidad }}</td>
                <td>{{ producto.id_categoria }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</body>
</html>
{% endblock %}